.App {
  width: 100vw;
  height: 100 vh;
  display: flex;
  flex-direction: column;
  background: lightgrey;
}

body {
  margin: 0;
  padding: 0;
}

.appContainer {
  display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

}

.appContainer1 {
  // display: flex;
  // flex-direction: row-reverse;
  // justify-content: space-between;
}

.middle-container {
  width: calc(100vw - 200px - 500px);
}