
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  // overflow-y:scroll;
  // overflow-y:hidden;
}
.appContainer {
  display: flex;
  margin-top: 80px;
  height: calc(100vh - 80px);
  width: 100%;
  padding: 0;
}
.appContainer1 {
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  overflow-x: hidden;
}
.middle-container {
  width: calc(100vw - 200px - 500px);
}
.rightbar-top {
  display: flex;
  flex-direction: column;
  
  width: 30%;
}