.list-group .table tbody {
  font-family: sans-serif;
}



.events-button {
  margin-top: 8px;
  margin-left: 30px;
  font-weight: bold;
}

.table-event {
  margin-top: 10px;
  thead {
    color: white;
  }
}

.event-name {
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color:#687177;
  margin-bottom: 10px;
  
}

.event-img {
  img {
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    
  }
  
}
.img-size {
  width:80%;
  height:160px;
}

.group-tr {
  background-color: white;
  color:#1877f2;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-color: #687177;
  border-bottom-width:2px;
  // border-top-width:2px;
}





.date-event {
  background-color: #1877f2;
  text-align: center;
  border-radius:20%;
  max-width:70%;
  margin-left: 20px;
  margin-top: 20px;
  
  
  .date-event-month{
    background-color: white;
    border-style: solid;
    border-color: #1877f2;
    color:#1877f2;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border-width: 3px;
    
    
  }
  .date-event-day {
    color: white;
    font-size:35px;
    font-weight: bold;
  }
}

.event-description {
  margin-left: 5px;
  margin-right: 8px;
  color:#687177;
  margin-top: 20px;
}




