.button {
  align-items: flex-end;
  text-align: center;
}



.events-button {
  margin-top: 80px;
  margin-left: 30px;
}

.table-event {
  margin-top: 20px;;
}

.event-name {
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  
}

.bg-primary {
  text-align: center;
   
}


.list-group .table tbody {
  font-family: sans-serif;
}




