#group-button {
  display: flex;
  justify-content: flex-end;
}

.group-title {
  text-align: center;
  color: #1877f2;
}

.margin-grouplist{
  margin-right: 50px;
  margin-top: 30px;
  
  
}

.table-group {
  margin-top: 20px;

  thead {
    color: white;
  }

.group-tr {
  background-color: #1877f2;
}
  
}

.group-name {
  text-align: center;
  font-weight: bold;
}

.group-img {
  img{
    border-radius: 5%;
  }
 
}
