#group-button {
  display: flex;
  justify-content: flex-end;
  
}

.group-title {
  text-align: center;
  color: #1877f2;
}

.margin-grouplist{
  margin-right: 50px;
  margin-top: 30px;
  font-weight: bold;
  
  
}

.table-group {
  margin-top: 10px;

  thead {
    color: white;
  }

.group-tr {
  background-color: white;
}
  
}

.group-name {
  text-align: center;
  font-weight: bold;
  color:#687177;
  margin-bottom: 10px;
  
}

.group-img {
  img{
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    
  }
 
}

.group-description {
  color: #687177;
 
   
}

.group-description-div {
  margin-top:20px;
}

