.posts {
  // flex: 5.5;
  // width: calc(100vw - 200px - 500px);
  // margin-left:160px;
  // margin-right: 220px;
  margin-left: 10%;
    
}

.postsWrapper {
  padding: 20px
}

.postList {
  width:75%;
  margin-left: 32px;
  
}

