.posts {
  // flex: 5.5;
  // width: calc(100vw - 200px - 500px);
  // margin-left:160px;
  // margin-right: 220px;
  //padding-left: 20px;
  justify-content: ;
  // min-width: 700px;
    
}

.postsWrapper {
  padding: 20px
}

.postList {
  width:70%;
  margin-left: 32px;
  
}

.middle-container {
  width: calc(100vw - 200px - 500px);
}