.table-custom-color {
  // --bs-table-bg: #3b3c3d;
  //   --bs-table-striped-bg: grey;
  //   --bs-table-striped-color: white;
  //   --bs-table-active-bg: grey;
  //   --bs-table-active-color: #fff;
  //   --bs-table-hover-bg: #323539;
  //   --bs-table-hover-color: #fff;
  thead {
    background-color: #3b3c3d;
  }
    color: white;
    background-color: #4e5154;
    border-color: transparent;
  
}

.events-date {
  text-align: center;
}